img {
    width: 80%;
    /* height: 100%; */
}
.side-info-holder {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: auto;
    margin-top: auto 0;
}
.side-info-block {
    /* display: flex;
    flex-flow: column; */
    align-items: center;
    justify-content: start;
    overflow: auto;
    margin-right: 5px;
}
.card-div {
    text-align: left;
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: thin solid white;
    border-radius: 25px;
    overflow: auto;
}
.card-title {
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.card-text {
    text-align: left;
    margin-bottom: 10px;
}
.excerpt {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15pt;
}
.fav-div {
    color: gold;
}
.news-btn {
    margin-top: 10px;
    width: 80%;
}